@keyframes footer {
    0% {
      left: 0vw;
    }
    50% {
      left: 69vw;
    }
    100% {
      left: 0vw;
    }
  }
  
  @keyframes footeresponsive {
    0% {
      left: 0vw;
    }
    50% {
      left: 12vw;
    }
    100% {
      left: 0vw;
    }
  }